body {
    background-color: #f4f4f4;
}

.container {
    margin-top: 50px;
}

.well {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.header {
    color: #36A0FF;
    font-size: 30px;
    padding: 10px;
}

.bigicon {
    font-size: 40px;
    color: #36A0FF;
}

.btn-primary {
    background-color: #36A0FF;
    border: none;
}

.btn-primary:hover {
    background-color: #2672af;
}
